<!DOCTYPE html>
<html>
  <head>
    <title>Flipapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script type="module" src="https://cdn.jsdelivr.net/npm/pdfjs-dist@4.0.379/+esm"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
